* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pull {
 display: inline-block;
 z-index: 1000;
 position: fixed;
 top: 2vh;
 right: 5vw;
}

.circle {
border-radius: 50%;
padding: 10px 20px 10px 20px;
background-color: white;
font-size: 30px;
text-decoration: none;
color: black;
margin: 20px;
border: 2px solid black;
text-shadow: 10%;
}

.bg_red {
  width: 100vw;
  height: 100vh;
  background-color: red;
}
.bg_green {
  width: 100vw;
  height: 100vh;
  background-color: green;
}
.bg_yellow {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}
.jumbo {
position: absolute;
top: 50%;
left: 50%;
transform: translate( -50%, -50%);
}

.jumbo2 {
position: absolute;
top: 150%;
left: 50%;
transform: translate( -50%, -50%);
}

.jumbo3 {
position: absolute;
top: 250vh;
left: 50vw;
transform: translate( -50%, -50%);
}

.text_under_shoes {
  font-size: 55px;
  text-align: center;
  font-family: 'Coda Caption', sans-serif;
  color: yellow ;
}

.text_under_shoes3 {
  font-size: 55px;
  text-align: center;
  font-family: 'Coda Caption', sans-serif;
  color: green ;
}
