* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pull {
 display: inline-block;
 font-size: 30px;
 z-index: 1000;
 position: fixed;
 top: 0;
 right: 10vw;
}
span {
margin-right: 5vw;
}

.bg_red {
  width: 100vw;
  height: 100vh;
  background-color: red;
}
.bg_green {
  width: 100vw;
  height: 100vh;
  background-color: green;
}
.bg_yellow {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}
.jumbo {
position: absolute;
top: 50vh;
left: 50vw;
transform: translate( -50%, -50%);
}

.jumbo2 {
position: absolute;
top: 150vh;
left: 50vw;
transform: translate( -50%, -50%);
}

.jumbo3 {
position: absolute;
top: 250vh;
left: 50vw;
transform: translate( -50%, -50%);
}

.jumbo:after{
  content: "";
  display: table;
  clear: both;
}
.jumbo2:after{
  content: "";
  display: table;
  clear: both;
}
.jumbo3:after{
  content: "";
  display: table;
  clear: both;
}
